<div class="container">
    <br>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="All Reminders">
                    <ng-template matTabContent>
                        <app-reminders-typed [reminderType]="'all'" [pageDescription]="allRemindersDesc"></app-reminders-typed>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Your Reminders">
                    <ng-template matTabContent>
                        <app-reminders-typed [reminderType]="'self'" [pageDescription]="yourRemindersDesc"></app-reminders-typed>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Your Expired Reminders">
                    <ng-template matTabContent>
                        <app-reminders-typed [reminderType]="'self old'" [pageDescription]="yourRemindersExpiredDesc"></app-reminders-typed>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>