<div class="container">
    <br>
    <div class="row">
        <div class="col-12 text-center">
            <h3>Cole Larsen</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header bg-primary text-light">Contact Info</div>
                <div class="card-body border border-top-0 border-dark rounded-bottom">
                    <table class="table table-borderless table-hover">
                        <tbody>
                            <tr>
                                <td>colealarsen@gmail.com</td>
                            </tr>
                            <tr>
                                <td>(862)-324-0347</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://www.github.com/colelarsen">Github</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div>Currently employed at Infosys as a Power Programmer. Full stack developer with a love for problem solving and
                trying new technology. Graduated from Appalachian State University with a Bachelors of Science in Computer
                Science. Specializes in backend and databases.</div>
        </div>
    </div>
    <br>
    <div class="row border-top border-info">
        <div class="col-md-8">
            <div (click)="showInfo(0)">
                <h5>
                    <img [src]="showImage[0]" alt="" height="3%" width="3%"> Employment</h5>
            </div>
            <div *ngIf="show[0]">
                <div>
                    <h6>Infosys Power Programmer</h6>
                    <p>Aug 2019 - Current</p>
                    <p>Specialist who solves complex problems and develops new systems.</p>
                </div>
                <div class="border-top border-dark">
                    <h6>Opengear Salesforce Developer Consultant</h6>
                    <p>April 2019 - Aug 2019</p>
                    <p>Developing new systems and automations to promote efficiency and update legacy code. Developed Apex classes
                        and Unit Test classes. Developed a Live Agent Pre-Chat, a form before talking to an Agent, that displayed
                        user information and automated lookup / input of information for the Agent. Developed a bulkified
                        trigger that runs on creation of child objects that clones attachments, images or text, from the
                        parent to the child objects. Implemented framework for old inefficient trigger for readability and
                        to meet best practice.</p>
                    <ul>
                        <li>
                            Database Management
                        </li>
                        <li>SOQL Experience</li>
                        <li>Salesforce Experience</li>
                        <li>Apex Experience</li>
                        <li>Unit Testing Experience</li>
                    </ul>
                </div>
                <div class="border-top border-dark">
                    <h6>G-Trainer Swift Developer</h6>
                    <p>May 2018 - March 2019</p>
                    <p>Lead Developer on Fitness Application G-Trainer on App Store Served as Lead Developer on a new Fitness
                        Application that was successfully launched on 1/15/2019. I worked with the customer to both plan
                        and implement requirements. Utilized Swift with Firebase as the backend database. Used and agile
                        development cycle to have a constantly testable product and satisfy the needs of the project manager.
                        Planned and lead development on the entire project.</p>
                    <ul>
                        <li>
                            Leadership Experience
                        </li>
                        <li>
                            Full Project Development
                        </li>
                        <li>
                            Database Management
                        </li>
                        <li>
                            Swift Experience
                        </li>
                        <li>
                            NoSQL Experience
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="text-center" (click)="showInfo(0)">
                <h5>Education</h5>
            </div>
            <div *ngIf="show[0]">
                <div>
                    <h6>Appalachian State University Bachelors of Science in Computer Science</h6>
                </div>
                <div>
                    <p>Graduated in May 2019 with a 3.08 GPA</p>
                    <div>Classes</div>
                    <ul>
                        <li>Computer Systems 1&2</li>
                        <li>Theoretical Computer Science</li>
                        <li>Computer Science 1&2</li>
                        <li>Discrete Mathematics</li>
                        <li>Linear Algebra</li>
                        <li>Databases</li>
                        <li>Technical Communications</li>
                        <li>Front End Development</li>
                        <li>Data Systems</li>
                        <li>Software Engineering</li>
                        <li>Computer Graphics</li>
                        <li>Data Communication and Networking</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row border-top border-info">
        <div class="col-md-12" (click)="showInfo(1)">
            <div>
                <h5>
                    <img [src]="showImage[1]" alt="" height="2%" width="2%"> Skills & Technologies</h5>
            </div>
            <div *ngIf="show[1]">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td class="font-weight-bold">Front End</td>
                            <td>HTML</td>
                            <td>CSS</td>
                            <td>JQUERY</td>
                            <td>Angular</td>
                            <td>Bootstrap</td>
                            <td>JavaScript</td>
                            <td>TypeScript</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Backend</td>
                            <td>Micro Services</td>
                            <td>Express</td>
                            <td>Spring Boot</td>
                            <td>Node</td>
                            <td>Java</td>
                            <td>Unit Testing</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Databases</td>
                            <td>SQL</td>
                            <td>NoSQL</td>
                            <td>MongoDB</td>
                            <td>Mongoose</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Other</td>
                            <td>Salesforce</td>
                            <td>Python</td>
                            <td>C</td>
                            <td>C#</td>
                            <td>Swift</td>
                            <td>Android Studio</td>
                            <td>Assembly</td>
                            <td>Git</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Personal</td>
                            <td>Troubleshooting</td>
                            <td>Technical Communcation</td>
                            <td>Time Management</td>
                            <td>Critical Thinking</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row border-top border-info">
        <div class="col-md-12" (click)="showInfo(2)">
            <div>
                <h5>
                    <img [src]="showImage[2]" alt="" height="2%" width="2%"> Personal Projects</h5>
            </div>
            <div *ngIf="show[2]">
                <div>
                    <h6>Remind Me Bot & RemindMeHome.com</h6>
                    <p>Developed a chat bot using Node.js and the Discord API that could monitor conversations, edit text, and
                        remind users of a text/image at a given time. Remindmehome.com allows anyone to view the reminders
                        currently being tracked by Remind me Bot, add reminders, and edit reminders. Remindmehome.com was
                        created through Angular and on an Amazon EC2 linux server running an nginx web server. The
                        <a class="nav-item" routerLink="../reminder">Reminder</a> functionality works through a public web API also running on the EC2 server. This web
                        api was made through Spring Boot. The database is an AWS Dynamodb. I used a NoSQL database because
                        it it lightweight and I do not have relationships.
                    </p>
                    <ul>
                        <li>
                            Javascript skills
                        </li>
                        <li>
                            Node.js experience
                        </li>
                        <li>
                            Nginx experience
                        </li>
                        <li>
                            Microservice experience
                        </li>
                        <li>
                            TypeScript experience
                        </li>
                        <li>
                            Bootstrap experience
                        </li>
                        <li>
                            Spring Boot experience
                        </li>
                    </ul>
                </div>
                <div>
                    <h6>YugiohCSVScraper</h6>
                    <p>Developed an application that given user input in the form of a CSV file or manual input would webscrape
                        for pdfs given the name. Developed my abilities with Node.js and file management systems. Users can
                        set folder locations and manage objects in list to be downloaded. This was the top downloaded application
                        used with Tabletop Simulator on NexusMods.com.</p>
                    <p>I developed a microservice for this application that is available on the
                        <a class="nav-item" routerLink="../yugscrape">Yugioh Scraper</a> page.</p>
                    <ul>
                        <li>
                            Node.js experience
                        </li>
                        <li>
                            Learned Web Scraping
                        </li>
                        <li>
                            File management
                        </li>
                        <li>
                            Image processing
                        </li>
                    </ul>
                </div>
                <div>
                    <h6>Language Detection NN</h6>
                    <p>A neural network that can detect language between english and spanish with an 86% accuracy.</p>
                    <ul>
                        <li>Learned about Neural Networks</li>
                        <li>Developed data manipulation skills</li>
                        <li>Developed data analysis skills</li>
                        <li>Developed a solution to an issue using Neural Networks</li>
                        <li>Developed Python skills</li>
                    </ul>
                    <div class="row">
                        <div class="col-10">
                            <p>Neural Network Time & Accuracy with Sample Size</p>
                            <img class="thumbnail" src="./../../assets/NNGraphs.png" alt="Graphs on Neural Network efficiency and accuracy">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>