/* You can add global styles to this file, and also import other style files */
input.ng-valid{
    border-left: 2px solid green;
}

input.ng-invalid{
    border-left: 2px solid red;
}

input.ng-invalid.ng-untouched{
    border-left: 2px solid orange;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.modal-backdrop {
    z-index: -1;
}
