<div class="container">
    <br>
    <div class="row">
        <div class="col-6 offset-3 text-center">
            <h3>Fullstack Development by Cole Larsen</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="text-center">
                <h4>About Me</h4>
            </div>
            <div>I am a full stack developer currently working for Infosys. I like making personal projects and experimenting
                with new software. I really like Bootstrap for developing front end because even a person as unartistic as
                me can make a sleek website. Straight out of college I always thought I would not like web development, but
                it is growing on me.
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <h4>About This Website</h4>
            </div>
            <div class="text-center">
                <p>This website and all functionality was developed solely by me. The webserver hosting this website is a nginx
                    server running on an AWS EC2 server. The front end of this website was made using Angular with Bootstrap.
                    The page you are currently seeing has no backend but you can check out the
                    <a class="nav-item" routerLink="../reminder">Reminders</a>
                    page if you want to see microservices in action. This page is also mobile friendly!</p>
            </div>
            <div class="text-center">
                <h6>Software Used</h6>
            </div>
            <div class="row">
                <div class="col-12 offset-2">
                    <ul>
                        <li>Angular</li>
                        <li>Bootstrap</li>
                        <li>Node</li>
                        <li>TypeScript</li>
                        <li>JavaScript</li>
                        <li>NoSQL</li>
                        <li>Express.js</li>
                        <li>Discord.js</li>
                        <li>Spring Boot</li>
                        <li>DynamoDB</li>
                        <li>AWS</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row text-center">
                <div class="col-12">
                    <h4>Pages</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h6>Resume</h6>
                </div>
            </div>
            <div class="row">
                <p>The "Resume" page was made so that you can check out what I have done and what I'm currently working on.
                    I think this is a cool way to show off a resume because you can actually interact with my projects that
                    are web api compatable!</p>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <h6>Reminders</h6>
                </div>
            </div>
            <div class="row">
                The "Reminders" page was made for a chat bot that I developed. This page allows users of a group chat to submit and edit
                reminders. The microservices that handle these requests are hosted on the same EC2 server that this webserver
                is running on. The microservices handle the requests and interact with a DynamoDB NoSQL database. The users
                are reminded by a chat bot created with discord.js. The chat bot interacts with the same microservices to
                request reminders and when the time expires it sends the user a message! There are two microservices running
                to control the functionality of this page and the user accounts. One microservice handles user login / account
                creation / authorization. The other microservice handles get/put/post requests dealing with reminders. They
                work in tandem to ensure only authenticated users can change the reminders they own.
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <h6>Yugioh Scraper</h6>
                </div>
            </div>
            <div class="row">
                <p>The "Yugioh Scraper" page was made so that you can check out a personal project I made in early 2019. I converted
                    the project into a microservice so that it is interactable without having to download the project from
                    github. This project solves the issue of trying to find pdfs of a card by allowing users to enter card
                    names and download them straight to their computer. The microservice was made using Express and it uses
                    web scraping to find links to pdfs!
                </p>
            </div>
        </div>
    </div>
</div>